{% load static %}
<div class=" row justify-content-center" style="margin-top: 50px;">
    <div class="col-11">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header py-4" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <span class="font-ch text-info h2">我要发件</span>
                        </button>
                    </h2>
                </div>
                {% if form1.errors %}
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                {% else %}
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                {% endif %}
                    <div id='cardOne' class="card-body">
                        <div class="font-ch text-danger mb-4">
                            如果送件选择邮发到物流店，需要在包裹上注明国内收件人姓名，如果没有注明我司将选择滞后处理。
                        </div>
                        {% if form1.errors %}
                            {% for field in form1 %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger font-ch">
                                        <strong>{{ field.label }}{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form1.non_field_errors %}
                                <div class="alert alert-danger font-ch">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form id='formOne' action="{% url 'etrack:index' shop  %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form1 %}
                            {% if field.label == '收件人国家' %}
                            <div class="form-group">
                                <label class="font-ch" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <span class="text-danger font-ch">{{ field.errors }}</span>
                                <input id="{{ field.id_for_label }}" type="{{ field.field.widget.input_type }}"
                                    class="form-control" name="{{ field.html_name }}" value="{{ field.value }}"
                                    readonly="true">
                            </div>
                            {% elif field.label == '发件店铺' %}
                            <div class="form-group">
                                <label class="font-ch" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <span class="text-danger font-ch">{{ field.errors }}</span>
                                <input id="{{ field.id_for_label }}" type="{{ field.field.widget.input_type }}"
                                    class="form-control" name="{{ field.html_name }}" value="{{ shop_name }}店"
                                    readonly="true">
                            </div>
                            <div class="form-group mt-5">
                                <label class="font-ch " for="autofill">收件人信息智能填写</label>
                                <p style="color: coral;">收件人姓名，收件人手机号码，收件人详细地址，收件人身份证号码
                                    按顺序写成一行，用逗号分割，每项信息里面不能含有逗号。地址中请注明省市区。如：
                                    张三，13912345678，浙江省杭州市余杭区文一西路969号，10000120200101999X</p>
                                <textarea id="autofill" type="textarea"
                                    class="form-control" name="autofill" ></textarea>
                                    <button id='autofillBtn' class='mt-2 btn btn-info' type="button" onclick="parse()">解析信息自动并填写收件人信息</button>
                            </div>
                            

                            {% elif field.label == '收件人省' %}
                            <div class="form-group">
                                <label class="font-ch" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <span class="text-danger font-ch">{{ field.errors }}</span>
                                <select id="{{ field.id_for_label }}" name="{{ field.html_name }}" 
                                    class="form-control " onchange="showCity(this)" >
                                    <option value="">--请选择{{ field.label }}--</option>
                                </select>
                            </div>
                            {% elif field.label == '收件人市' %}
                            <div class="form-group">
                                <label class="font-ch" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <span class="text-danger font-ch">{{ field.errors }}</span>
                                <select id="{{ field.id_for_label }}" name="{{ field.html_name }}" 
                                    class="form-control " onchange="showCountry(this)">
                                    <option value="">--请选择{{ field.label }}--</option>
                                </select>
                            </div>
                            {% elif field.label == '收件人区（县）' %}
                            <div class="form-group">
                                <label class="font-ch" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <span class="text-danger font-ch">{{ field.errors }}</span>
                                <select id="{{ field.id_for_label }}" name="{{ field.html_name }}" 
                                    class="form-control " >
                                    <option value="">--请选择{{ field.label }}--</option>
                                </select>
                            </div>
                            {% elif field.label == '收件人身份证照片上传' %}
                            <div class="form-group mb-3">
                                <label class="font-ch" for="{{ field.id_for_label }}">{{ field.label }}(选填)</label>
                                <span class="text-danger font-ch">{{ field.errors }}</span>
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
                                  <label class="custom-file-label" for="{{ field.id_for_label }}"  data-browse="浏览">请上传收件人身份证照片(选填)</label>
                                </div>
                            </div>
                            <script>
                                $('#{{ field.id_for_label }}').on('change',function(){
                                    //get the file name
                                    var fileName = $(this).val().replace('C:\\fakepath\\', " ");
                                    //replace the "Choose a file" label
                                    $(this).next('.custom-file-label').html(fileName);
                                })
                            </script>
                            
                            {% else %}
                            <div class="form-group">
                                <label class="font-ch" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <span class="text-danger font-ch">{{ field.errors }}</span>
                                <input id="{{ field.id_for_label }}" type="{{ field.field.widget.input_type }}"
                                    class="form-control" name="{{ field.html_name }}" value="{{ field.value }}"
                                    placeholder="请输入{{ field.label }}">
                            </div>
                            {% endif %}
                            {% endfor %}
                            <div class="font-ch text-danger mb-4">
                                建议上传身份证照片,如遇海关抽查不能及时提交身份证照片出现任何问题我司概不负责
                            </div>
                            <button id='submitBtn' type="submit" class="btn btn-primary" style="visibility: hidden;">提交</button>
                        </form>
                        <button id='ensureBtn' class="btn btn-info" onclick="ensure()">确认</button>
                        <br><button id='backBtn' class="btn btn-danger" onclick="back()" style="visibility: hidden;">修改</button>
                    </div>
                </div>
            </div>
            <script>
                function ensure(){
                    alert("请再次确认填写信息无误，然后点击提交")
                    document.getElementById('ensureBtn').style.visibility = 'hidden';
                    document.getElementById('submitBtn').style.visibility = 'visible';
                    document.getElementById('backBtn').style.visibility = 'visible';
                    document.getElementById('collapseOne').classList.add('show');
                    $('#formOne  input').attr('readonly','readonly');
                    $('#formOne  select').attr('readonly','readonly');
                }
                function back(){
                    document.getElementById('ensureBtn').style.visibility = 'visible';
                    document.getElementById('submitBtn').style.visibility = 'hidden';
                    document.getElementById('backBtn').style.visibility = 'hidden';
                    document.getElementById('collapseOne').classList.add('show');
                    $('#formOne input').not('#id_recipient_country').not('#id_shop').removeAttr('readonly');
                    $('#formOne select').removeAttr('readonly');
                }
            </script>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-center collapsed py-4" type="button"
                            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            <span class="font-ch text-info h2">我要查件</span>
                        </button>
                    </h2>
                </div>
                {% if has_result %}
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                {% else %}
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                {% endif %}
                    <div class="card-body">
                        <div class="font-ch my-3 text-primary">
                            查询步骤1：输入收件人手机号码，查看并复制快递单号
                        </div>
                        <form action="{% url 'etrack:search'  shop  %}" method="post">
                            {% csrf_token %}
                            {% for field in form2 %}
                            <div class="form-group">
                                <label class="font-ch" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <span class="text-danger">{{ error_message }}</span>
                                <input id="{{ field.id_for_label }}" type="{{ field.field.widget.input_type }}"
                                    class="form-control" name="{{ field.html_name }}"
                                    placeholder="请输入{{ field.label }}">
                            </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-info font-ch">搜索单号</button>
                        </form>
                        {% if has_result %}
                        <div class="row my-3">
                            <div class="col-10">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                          <th scope="col">#</th>
                                          <th scope="col " class="font-ch">快递单号</th>
                                          <th scope="col" class="font-ch">发件登录时间</th>
                                          <th scope="col" class="font-ch">点击复制单号</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                    {% for r in result %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td id="express{{ forloop.counter }}">{{ r.state }}</td>
                                            <td>{{ r.datetime }}</td>
                                            <td><button class="btn btn-sm btn-outline-secondary font-ch" onclick="copyText({{ forloop.counter }})" >复制</button></td>
                                          </tr> 
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        {% endif %}
                        <div class="font-ch mt-5 mb-3 text-primary">
                            查询步骤2：点击快递查询入口，输入快递单号进行查询
                        </div>
                        <a href="https://www.kuaidi100.com/"><button class="btn btn-primary font-ch">快递查询入口</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function copyText(id) {
        var myCode = document.getElementById('express'+id).innerText;
        var fullLink = document.createElement('input');
        document.body.appendChild(fullLink);
        fullLink.value = myCode;
        fullLink.select();
        document.execCommand("copy", false);
        fullLink.remove();
        alert("已复制: " + '"' + fullLink.value + '"');
    }

    function parseAddr(addr){
        var reg = /.+?(特别行政区|省|市|自治区|自治州|县|区)/g;
        console.log(addr.match(reg))
        return addr.match(reg)
    }

    function parse(){
        var target = $('#autofill').val().replaceAll('，',',');
        var items = target.split(',');
        try {
            var name = items[0];
            var phone = items[1];
            var addr = items[2];
            var id = items[3];

            $('#id_recipient_name').val(name);
            $('#id_recipient_phone_num').val(phone);
            $('#id_recipient_addr').val(addr);
            $('#id_recipient_id').val(id);

            var addrs = parseAddr(addr);
            if(addrs.length == 3){
                $('#id_recipient_province').val(addrs[0]);
                showCity(document.getElementById('id_recipient_province'));
                $('#id_recipient_city').val(addrs[1]);
                showCountry(document.getElementById('id_recipient_city'));
                $('#id_recipient_district').val(addrs[2]);
            }
        } catch (error) {
            alert('请按照规则填写智能填写信息!');
            console.log(error);
        }
    }
  </script>